.profile{
    border: black;
    background-color: #2d3645;
}

.poster{
    /* background: rgb(2,0,36); */
    /* background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(172,70,42,1) 46%, rgba(255,226,0,1) 100%),
    url('assets/images/admin.jpg'); */
    background-image : linear-gradient(90deg, rgba(161,195,83,0.52) 0%, rgba(101,195,53,0.8) 46%, rgba(25,149,83,0.8) 100%),
                        url('../../assets/images/admin1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
}

.nav-link{
    font-size: large;
}

.logo{
    font-size: 30px;
    color: cornsilk;
}

.maintxt{
    font-size: 80px;
    color: whitesmoke;
}