
  <div class="container-fluid">
      <div class="col-12 mt-2">
        <div class="row">
          <div class="d-flex justify-content-end">
            <!-- <mat-form-field appearance="fill">
              <mat-label>Choose an option</mat-label>
              <mat-select [(ngModel)]="searchSelect">
                <mat-option value="id">ID</mat-option>
                <mat-option value="username">Username</mat-option>
                <mat-option value="email">Email</mat-option>
              </mat-select>
            </mat-form-field> -->
            <mat-form-field appearance="fill" class="mx-1">
              <mat-label>Order ID</mat-label>
              <input matInput [(ngModel)]="searchTxt">
              <button mat-icon-button matSuffix (click)="search()">
                <mat-icon><i class="fa fa-search" aria-hidden="true"></i></mat-icon>
              </button>
            </mat-form-field>
        </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Order ID</th>
                  <th scope="col">Order Details</th>
                  <th scope="col">Total Amount</th> 
                  <th scope="col">Status</th> 
                  <th scope="col">Ordered Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let item of orders;" class="accordion-toggle">
                  <th scope="row">{{item.order_id}}</th>
                  <td>
                      <!-- <button class="btn btn-link" data-toggle="collapse" data-target="#orderDetControl" aria-expanded="false" aria-controls="orderDetControl">
                        Order Details
                      </button> -->
                      <div class="accordion" id="accordionExample">
                        <div class="">
                          <div class="" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Order Details
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div *ngFor="let x of item.products;">
                              {{x.product_id | productname}} of {{x.quantity}} quantity
                             </div>
                          </div>
                        </div>
                      </div>
                  </td>
                  <td>{{item.total | currency:'INR'}}</td>
                  <td>{{item.status}}</td>
                  <td>{{item.order_date}}</td>
                </tr>
              </tbody>
          </table>
          </div>
          
        </div>
      </div>
          
  </div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 
