
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container">
    <div class="col-12 m-5">
        <div class="row">
            <div class="col-4 Greeting pt-5">
                <h1>Admin CMS</h1>
            </div>
            <div class="col-6 ml-1 formdiv" (keyup.enter)="onLogin()">
                <!-- <form #userForm = "ngForm" action="" class="form my-2">
                    <div class="row">
                        <div class="col-3 form-group">
                            <label for="username">Username/Email</label>
                        </div>
                        <div class="col-6 form-group">
                            <span class="col-2">:</span>
                            <input id="username" type="text" class="rounded" name="user" [(ngModel)] = "uname" placeholder="Type here"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 form-group">
                            <label for="pwd">Password:</label>
                        </div>
                        <div class="col-6 form-group">
                            <span class="col-2">:</span>
                            <input id="pwd" type="password" class="rounded" name="pwd" [(ngModel)] = "passkey" placeholder="Type here"/>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-4"></span>
                        <span class="mb-1 errormsg ">{{result}}</span>
                    </div>
                    <div>
                        <span>New User?</span>
                        <a [routerLink] = "['/registration']" class="cardDetails">Register</a>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" (click) = "onLogin()">Login</button>
                    </div>
                    
                </form> -->
                <div class="row m-2">
                    <mat-form-field appearance="fill" [formGroup]="unameForm">
                        <mat-label>Username/Email</mat-label>
                        <input matInput [(ngModel)] = "uname" formControlName="usern">
                        <mat-error *ngIf="unameForm.controls.usern.dirty && unameForm.controls.usern.invalid">
                            Enter Username/Email
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row m-2">
                    <mat-form-field appearance="fill" [formGroup]="pwdForm">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="passkey" formControlName="pass">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="pwdForm.controls.pass.invalid && pwdForm.controls.pass.dirty">
                            Enter Password
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <span>{{result}}</span>
                </div>
                <div class="text-right mb-3">
                    <button class="btn btn-primary" (click) = "onLogin()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>